// Source - https://stackoverflow.com/a/60220966
// Posted by sahil khaire
// Retrieved 2026-02-24, License - CC BY-SA 4.0

.idea/
.vscode/
node_modules/
build
dist
.DS_Store
*.tgz
my-app*
template/src/__tests__/__snapshots__/
lerna-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.changelog
.npm/
yarn.lock